@keyframes animate-logo {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes nav-hover-animate {
  to {
    width: 100%;
  }
}
@keyframes animate-hero-svg {
  0% {
    d: path(
      "M1500 0H0V620.921C21.658 631.357 82.8109 644.048 255.118 627.995C329.936 621.024 400.521 604.973 470.838 588.982C645.373 549.29 818.263 509.973 1050.17 610.827C1288.71 714.568 1437.56 709.463 1500 699.356V0Z"
    );
  }
  50% {
    d: path(
      "M1500 0H0V615.682C22.4776 621.231 86.5217 627.548 266 610.827C350.305 602.973 430.014 578.703 510.298 554.257C678.114 503.16 848.442 451.298 1068.5 547C1293.48 634.038 1431.66 641.468 1500 636.321V0Z"
    );
  }
  75% {
    d: path(
      "M1500 0H0V640.291C21.316 669.229 81.0586 706.939 248.5 691.339C342.215 682.608 432.516 643.174 524.875 602.841C689.273 531.049 860.193 456.408 1068.5 547C1286.22 641.684 1429.22 645.698 1500 637.993V0Z"
    );
  }
  100% {
    d: path(
      "M1500 0H0V620.921C21.658 631.357 82.8109 644.048 255.118 627.995C329.936 621.024 400.521 604.973 470.838 588.982C645.373 549.29 818.263 509.973 1050.17 610.827C1288.71 714.568 1437.56 709.463 1500 699.356V0Z"
    );
  }
}
