#signip-sectin h1 {
  margin-top: 1rem;
}
#signin-form {
  /* min-height: 50vh; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem 25vw;
}
.input {
  width: 100%;
  background: #bc59aa;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-width: 3px 3px 5px 3px;
  border-style: solid;
  border-color: #ececf8;
  border-radius: 15px 15px 0 0;
}
.input[type='color'] {
  height: 50px;
  padding: 0;
  background: none;
}
.input::placeholder {
  color: #fff;
  background: #bc59aa;
}

.signup-btn-container {
  display: flex;
  justify-content: space-between;
}
.form-btn {
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  border-radius: 5px;
  color: #fff;
}
#frogot-password {
  text-decoration: underline;
}
.primary {
  border: 2px solid #ececf8;
  background-color: #bc59aa;
}
.primary:hover {
  background-color: #ececf8;
  color: #000;
}
.secondary {
  background-color: #bc5959;
  border: 2px solid #ff0000;
}
.secondary:hover {
  background-color: #ff0000;
  color: #ececf8;
}
