@import "./animation.css";

/* utilities */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.horizontal-spacing {
  padding: 1rem 5rem;
}
a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* header */
header {
  display: flex;
  align-items: center;
  background-color: #bc59a9;
}
header h1 {
  color: #ececf8;
  margin-left: 3rem;
}
.logo {
  animation: animate-logo 2s ease-in-out infinite;
}

/* nav */
nav {
  background-color: #fff;
}
.nav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-list-item {
  margin: 0.9rem 1rem;
  cursor: pointer;
}
.nav-list-item:first-child {
  margin-left: 0;
}
.nav-link {
  padding: 0.8rem 1rem;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  transition: color ease 0.4s;
}
.nav-link::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 20px;
  background-color: rgba(253, 116, 155, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-list-item:hover .nav-link::before {
  display: block;
  animation: nav-hover-animate 0.4s ease forwards;
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 4px;
  border-radius: 20px;
  background-color: rgba(253, 116, 155, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* dropdown */
.dropdown {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  position: relative;
}
.dropdown-btn {
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-weight: bold;
  font-family: inherit;
}
.dopdown-list {
  transition: opacity 0.4s ease;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 0 0 5px 5px;
  list-style: none;
  background-color: rgba(252, 82, 150, 0.1);
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dopdown-list a {
  color: #fff;
  padding: 12px 16px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-down-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dopdown-list li:last-child > a:hover {
  border-radius: 0 0 5px 5px;
}
.dropdown:hover .dopdown-list {
  opacity: 1;
}
.dropdown:hover .dropdown-btn i {
  color: #bc59a9;
}
/* main */
