@import './animation.css';
:root {
  --space-x: 10rem;
}

/* utilities */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.horizontal-spacing {
  padding: 1rem var(--space-x);
}
a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header */
.page-header {
  display: flex;
  align-items: center;
  background-color: #bc59a9;
}
.page-header h1 {
  color: #ececf8;
  margin-left: 3rem;
}
.logo {
  animation: animate-logo 2s ease-in-out infinite;
}

/* nav */
.page-nav {
  background-color: #fff;
}
.nav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-list-item {
  margin: 0.9rem 1rem;
  cursor: pointer;
}
.nav-list-item:first-child {
  margin-left: 0;
}
.nav-link {
  padding: 0.8rem 1rem;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  transition: color ease 0.4s;
}
.nav-link::before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 20px;
  background-color: rgba(253, 116, 155, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-list-item:hover .nav-link::before {
  display: block;
  animation: nav-hover-animate 0.4s ease forwards;
}
.active-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 4px;
  border-radius: 20px;
  background-color: rgba(253, 116, 155, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* dropdown */
.dropdown {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  position: relative;
}
.dropdown-btn {
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-weight: bold;
  font-family: inherit;
}
.dopdown-list {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 0 0 5px 5px;
  list-style: none;
  background-color: rgba(252, 82, 150, 0.1);
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dopdown-list a {
  color: #fff;
  padding: 12px 16px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-down-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dopdown-list li:last-child > a:hover {
  border-radius: 0 0 5px 5px;
}
.dropdown:hover .dopdown-list {
  opacity: 1;
  display: block;
}
.dropdown:hover .dropdown-btn i {
  color: #bc59a9;
}

/* main */

/* hero section */
#hero-section {
  position: relative;
  width: 100%;
  min-height: 400px;
}
.wave-container {
  z-index: 1;
  position: absolute;
  left: 0;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}
.wave-container svg path {
  animation: animate-hero-svg 8s ease-in-out infinite;
  -webkit-animation: animate-hero-svg 8s ease-in-out infinite;
}
/* slider */
.my-slider {
  position: relative;
  z-index: 1;
  transform-origin: center;
  width: calc(100vw - (var(--space-x) * 2));
  margin: 0 auto;
  padding-top: 5rem;
}

.slider-img-container {
  width: calc(100vw - (var(--space-x) * 2));
  height: 100%;
}
.slider-img-container img {
  border-radius: 15px;
  width: inherit;
  height: inherit;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.right-left-btn-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.right-left-btn-container button {
  background: transparent;
  border: none;
  outline: none;
}
.right-left-btn-container button,
.indicator-container button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.right-left-btn-container button:hover,
.indicator-container button:hover {
  transform: scale(0.9);
}
.right-left-btn-container button:active,
.indicator-container button:active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.indicator-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  justify-items: space-around;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.indicator-container button {
  width: 30px;
  background: transparent;
  border: none;
  outline: none;
}
.indicator-container button img {
  width: inherit;
}

/* card setion */
.card-secton {
  display: flex;
  padding-bottom: 5rem;
  padding-top: 5rem;
  justify-content: space-between;
}
.card-link {
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 15vw;
  height: 10rem;
  color: #fff;
  transition: transform 0.2s ease;
}
.card-link:nth-child(odd):hover {
  transform: rotate(15deg);
}
.card-link:nth-child(even):hover {
  transform: rotate(-15deg);
}
.card-text {
  font-weight: 500;
}

/* recent blogs section */
.section-heading {
  text-align: center;
  font-size: 2rem;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.recent-article {
  display: flex;
  background: #b7c3d0;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.recent-article:nth-child(odd) {
  flex-direction: row-reverse;
}
.article-text {
  flex: 2;
  padding-left: 1rem;
}
.article-header {
  color: #fff;
}
.article-heading {
  font-size: 24px;
}
.article-sub-heading {
  font-size: 20px;
}
.article-img {
  border-radius: 15px;
  flex: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.article-img img {
  border-radius: 15px;
  width: 30vw;
  height: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* footer */
footer {
  height: 400px;
  overflow: hidden;
}
.footer-background {
  position: relative;
}
.footer-wave {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.footer-content {
  position: absolute;
  z-index: 2;
  height: inherit;
  width: 100%;
}

.footer-list {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 100%;
  list-style: none;
  align-items: center;
}
.footer-list h3 {
  color: rgb(204, 186, 252);
}

.footer-nav {
  padding-top: 1rem;
  display: flex;
}
.footer-nav-list {
  list-style: none;
  text-align: left;
}
.footer-nav-list li a {
  color: #fff;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.footer-nav-list li {
  padding: 0.3rem;
}
.footer-nav-list li:hover a {
  color: #281ac8;
}
.contact-list {
  display: flex;
  flex-direction: column;
}
.contact-list {
  color: #fff;
}
.contact-list i {
  color: #b7c3d0;
  padding-right: 10px;
}
